<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <h2> inline Expression . </h2>
    @DateTime.Now <br />

    @Request.Url <!-- Pour Regarder l'url de la page . -->

    <h2> multi statement code block in mvc . </h2>
    @{ 
        var name = " soufiane el marnissi";
        var age = 23 + " ans";
    }

    <h1>Bonjour Mr.@name, votre age : @age</h1>

</body>
</html>
